@import "./../helpers/variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  border: none !important;
  background-color: #f8f8f8;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  position: relative;
  visibility: visible;
  overflow-x: hidden;
  color: $darkgray-color;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: $black-color;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: inherit;
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a,
button,
img,
input,
input::placeholder,
svg {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*:focus {
  outline: none;
}

a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: $primary-color;
}

button,
input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

ul:last-child {
  margin-bottom: 0;
}

hr {
  border-top-width: 2px;
}

mark {
  position: relative;
  color: #0071dc;
  padding: 0 0 10px 0;
  background-color: transparent;
  display: inline-block;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    width: 91px;
    height: 12px;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-45px);
    background-color: $secondary-color;
    -webkit-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-image: url(/assets/svg/headline-curve.svg);
    mask-image: url(/assets/svg/headline-curve.svg);
  }
}

.btn {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  height: 52px;
  line-height: 52px;
  padding: 0 30px;
  border: 0px;
  box-shadow: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
}
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $black-color;
  }
}
.line_deco {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  span {
    padding: 3px 15px;
    background: #fff;
    position: relative;
    z-index: 10;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
  }
  &::before {
    right: 10%;
  }
}
.link-style {
  a,
  button {
    position: relative;
    color: $black-color;
    padding: 0;
    background: none;
    border: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #e7e7e7;
      transform-origin: right;
      transform: scaleX(1) translateZ(0);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
    }
    &::after {
      background-color: $primary-color;
      transform-origin: left;
      transform: scaleX(0) translateZ(0);
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      color: $primary-color;
      &::before {
        transform: scaleX(0) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      &::after {
        transform: scaleX(1) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  br {
    display: none;
  }
}
.scroll-to-top.customize {
  background-color: $primary-color !important;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  span {
    color: #fff !important;
  }
}

/**=== Fix font AntDesign ===**/
.header_category .ant-btn,
.ant-dropdown,
.ant-popover,
.ant-modal,
.ant-modal-content,
.ant-radio-group,
.ant-radio-wrapper,
.ant-space-item,
.ant-select-selector,
.ant-select-item-option-content {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}
